

* {
    box-sizing: border-box;
}

h2 {
  color: rgb(46, 12, 12);
  text-align: center;
}
body {
	  background-image: url(img/Bergen.JPG), url(img/inclusion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;		
} 


.video-container {
    float: left;
    width: 33.33%; 
    height: auto;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Header/Blog Title */
.header {
  
  
    padding: 20px;
    text-align: center;
    background: rgb(91, 177, 158);
}

.header h1 {
    font-size: 50px;
    color: #f3ebeb;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    top: -50;
    width:100%;
    transition: top 0.3s;
}

/* Style the topnav links */
.topnav a {
    float: inline-start;
    display: block;
    color: #f2f2f2;
    text-align:center ;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #eff;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: center;
    width: 100%;
    height: 1000px;
    background-color: rgb(91, 177, 158, 0.5);
    padding-top: 50px;
}


/* Add a card effect for articles */
.card {
    background-color: rgba (187, 255, 255, 0.5);
		height: auto;
   width: 100%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.main {
  font-family: serif;
  font-size: 38px;
  height:600px;
  background-color:rgba(243, 237, 237, 0.5);
  text-shadow: 4px 4px 4px #aaa;
}
.leftbox {
  width: 50%;
  float: left;
}

.rightbox {
  width:50%;
  float:right;
  
}
img {

  border-radius: 50%;
  width: 300px;
  float:right;
  padding-top: 40px;
  padding-right: 40px;
}
.main h3 {
  color: #f3eded;
  font-family: Georgia,times new roman,Times,serif;
  line-height: 1.5;
  float: center;
  padding-left: 50px;
  padding-top: 50px;
}
/*Paralex */

body,html {

  height: 100%;
}

.parallax {
  /* The image used */
  background-image: none;

  /* Full height */
  height: 90%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Footer */
.footer {
   padding: 20px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


